button{
	background-color: $accent-color;
	color: $main-color;
	text-decoration: none;
	border: 1px solid $main-color;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 10px;
	transition: all .4s;
	box-shadow: 4px 4px 10px #858383, -4px -4px 10px #fff;
	margin: 0 auto; 
}
button:hover{
	background-color: transparent;
	border: 2px solid $accent-color;
	cursor: pointer;
	color: $main-color-3;
	transition: all 0.1s ease-out;
	box-shadow: -6px -6px 12px #c5c5c5, 6px 6px 12px #fff;
	
}
.portfolioButton{
	background-color: $accent-color;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 3px 15px -2px;
	font-size: 1rem;
}
