.skillsSection {
	padding-bottom: 5px;
	padding-top: 40px;
	background-color: $main-color;
	width: 100%;
}
.skillsCard {
	width: $cardWidth;
	padding: 31px 8px;
	border-radius: 20px;
	font-size: 0.7rem;
	background-color: $main-color-2;
	margin: 0 auto;

	@media(min-width: 768px){
		margin-left: 58px;
	}
	@media(min-width: 1024px){
		margin-left: 70px;
	}

	h2 {
		font-size: 4em;
		text-transform: capitalize;
		margin-bottom: 20px;
		text-align: center;
		color: $main-color-3;
	  }
}
.skillsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50px, 90px));
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	justify-content: center;
	li {
		padding: 10px;
		border-radius: 15px;
		width: 80px;
		transition: all 0.3s ease-in;
		box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
		border: 1px solid #eee;
		background-color: $main-color-3;
		list-style: none;
	}
    li p {
		margin-top: 10px;
		background-color: $main-color-3;
		color: $main-color;
		text-align: center;
		font-size: 1.1em;
    }
    li img {
		width: 48px;
		height: 48px;
    }
}
.scale-animation {
	animation: scaleInOut 1s ease-in-out infinite alternate;
  }
  
  @keyframes scaleInOut {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(1.15);
	}
  }
  