.socialsContainer{
	margin: 0 auto;
}
.socialsList {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-wrap: wrap;

	@media (min-width: 768px){
		flex-wrap: nowrap;
	}

   li {
		margin: 0 10px;
		list-style: none;
		

	@media (max-width: 768px){
		padding-bottom: 10px;
		}
	}
	button{
		margin-top: 15px;

		@media (min-width: 360px){
			margin-top: unset;
		}
		}
	 
	li a {
		padding: 9px 10px;
		border-radius: 6px;
		border: 1px solid #eee;
		box-shadow: 0px 4px 6px rgba(134, 151, 168, 0.1);
		transition: all 0.3s ease-in;
		display: inline-block;
		background-color: $main-color;
		color: $accent-color;
	}

 	a:hover {
		box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
	}
    
	li a:focus {
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
 	}
}
