/* ============================================= */
/*  Imports */
/* ============================================= */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
.skillsSection {
  padding-bottom: 5px;
  padding-top: 40px;
  background-color: black;
  width: 100%;
}

.skillsCard {
  width: 90%;
  padding: 31px 8px;
  border-radius: 20px;
  font-size: 0.7rem;
  background-color: #232222;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .skillsCard {
    margin-left: 58px;
  }
}
@media (min-width: 1024px) {
  .skillsCard {
    margin-left: 70px;
  }
}
.skillsCard h2 {
  font-size: 4em;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 90px));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: center;
}
.skillsGrid li {
  padding: 10px;
  border-radius: 15px;
  width: 80px;
  transition: all 0.3s ease-in;
  box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  border: 1px solid #eee;
  background-color: white;
  list-style: none;
}
.skillsGrid li p {
  margin-top: 10px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.1em;
}
.skillsGrid li img {
  width: 48px;
  height: 48px;
}

.scale-animation {
  animation: scaleInOut 1s ease-in-out infinite alternate;
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.aboutSection {
  display: flex;
  width: 100%;
  padding-top: 40px;
}

.aboutCard {
  background-color: #232222;
  width: 90%;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  padding: 31px 8px;
  border-radius: 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .aboutCard {
    margin-left: 58px;
  }
}
@media (min-width: 1024px) {
  .aboutCard {
    margin-left: 70px;
  }
}
.aboutCard h2, .aboutCard h5 {
  color: white;
  background-color: #232222;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutCard h2 {
  font-size: 3em;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .aboutCard h2 {
    font-size: 4em;
  }
}
.aboutCard h5 {
  color: gold;
  font-size: 1.4375em;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.aboutCard p {
  font-size: 1.125em;
  margin-bottom: 40px;
  padding: 0 27px;
  color: white;
  background-color: #232222;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .aboutCard p {
    font-size: 1.5em;
    line-height: 2;
  }
}

.zoom-animation {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease-in, transform 7s ease-in;
}

.zoom-animation.zoom {
  opacity: 1;
  transform: scale(1);
}

.contactSection {
  text-align: center;
}
.contactSection .socialsContainer {
  padding-top: 8%;
}
.contactSection h2 {
  font-size: 3em;
  text-transform: capitalize;
  color: white;
  margin: 0 auto;
  text-align: center;
  margin: 2% 0;
  padding-bottom: 10px;
}
.contactSection p {
  margin-top: 20px;
  font-size: 1.125em;
  color: white;
  line-height: 2em;
}
@media (min-width: 768px) {
  .contactSection p {
    font-size: 1.3em;
    padding: 0 50px;
  }
}

.contactCard {
  background-color: #232222;
  width: 90%;
  margin: 30px auto;
  padding: 15px 5px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .contactCard {
    margin-left: 58px;
  }
}
@media (min-width: 1024px) {
  .contactCard {
    margin-left: 70px;
  }
}

.contactForm input,
textarea {
  width: 85%;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 0 auto 20px;
}
.contactForm input textarea,
textarea textarea {
  resize: vertical;
  margin-bottom: 5px;
}

.footerSection {
  display: flex;
  background-color: #232222;
  height: 5em;
  width: 100%;
  padding: 5%;
  justify-content: center;
  margin-top: 5%;
  border-top: solid 0.1em white;
}
.footerSection p, .footerSection span {
  color: gold;
  margin: 0 auto;
}

body {
  background-color: black;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../../images/background.jpg");
  background-size: cover;
  background-position: center;
}

.logo {
  padding-top: 3%;
  text-align: center;
  font-size: 2.1875em;
  letter-spacing: 0.0625em;
  color: gold;
}

.content {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
.content h1 {
  margin: 20px 0px 20px;
  font-size: 4em;
  color: white;
  text-transform: capitalize;
}
.content h4 {
  letter-spacing: 2px;
  font-size: 1.25em;
  text-transform: capitalize;
  color: gold;
}

:root {
  --comfortaa: "Comfortaa", cursive;
  --redressed: "Redressed", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content p {
  font-size: 2.4rem;
  color: white;
  font-family: var(--comfortaa);
  height: auto;
}

.typed-text {
  color: gold;
  font-family: var(--redressed);
}

.cursor {
  display: inline-block;
  width: 3px;
  margin-left: 4px;
  background: gold;
}

.cursor.blink {
  animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
  0%, 100% {
    background: gold;
  }
  40%, 50% {
    background: transparent;
  }
}
.portfolioSection {
  padding-top: 5px;
  width: 100%;
}
@media (max-width: 1024px) {
  .portfolioSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.portfolioSection h2 {
  font-size: 4em;
  text-transform: capitalize;
  color: white;
  margin: 0 auto;
  text-align: center;
  margin: 2% 0;
}

.portfolioContainer {
  background-color: #232222;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 15px 8px 25px;
  border-radius: 20px;
  margin: 30px auto;
}
@media (min-width: 768px) {
  .portfolioContainer {
    margin-left: 58px;
  }
}
@media (min-width: 1024px) {
  .portfolioContainer {
    margin-left: 70px;
  }
}

.portfolioCard {
  background-color: #232222;
  position: relative;
  display: flex;
  height: 22rem;
  width: 96%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  border-radius: 20px;
  justify-content: center;
}
@media (min-width: 1024px) {
  .portfolioCard {
    width: 70%;
  }
}
.portfolioCard :hover .overlay {
  opacity: 70;
}

.portfolioImages {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .portfolioImages {
    width: 70%;
  }
}

.portfolioCard:hover .overlay {
  opacity: 70;
}

.overlay {
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.847);
  width: 100%;
  height: 100%;
  border: solid 0.5em white;
  transition: opacity 0.3s;
  justify-content: center;
}
@media (min-width: 768px) {
  .overlay {
    width: 70%;
  }
}
.overlay h3 {
  font-size: 1.5em;
  padding: 4% 0 0 0;
  text-align: center;
  color: white;
}
.overlay p {
  font-size: 1rem;
  text-align: center;
  padding: 0 2%;
  color: white;
}
@media (min-width: 400px) {
  .overlay p {
    font-size: 1.5rem;
  }
}
.overlay .portfolioUnordered {
  width: 80%;
  font-size: 1.5rem;
  margin: 20px auto 0 auto;
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.overlay .portfolioUnordered li {
  list-style: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: large;
  margin: 5px;
  border-radius: 50px;
}
.overlay .viewProject {
  display: flex;
  font-size: 1.5rem;
  margin: 20px auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
  white-space: nowrap;
  justify-content: space-evenly;
}
.overlay a {
  text-decoration: none;
}

.socialsContainer {
  margin: 0 auto;
}

.socialsList {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .socialsList {
    flex-wrap: nowrap;
  }
}
.socialsList li {
  margin: 0 10px;
  list-style: none;
}
@media (max-width: 768px) {
  .socialsList li {
    padding-bottom: 10px;
  }
}
.socialsList button {
  margin-top: 15px;
}
@media (min-width: 360px) {
  .socialsList button {
    margin-top: unset;
  }
}
.socialsList li a {
  padding: 9px 10px;
  border-radius: 6px;
  border: 1px solid #eee;
  box-shadow: 0px 4px 6px rgba(134, 151, 168, 0.1);
  transition: all 0.3s ease-in;
  display: inline-block;
  background-color: black;
  color: gold;
}
.socialsList a:hover {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}
.socialsList li a:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#closeSidebar {
  margin-left: 100px;
}

.menuSpace {
  max-width: 20px;
  margin-left: 10px;
  margin-top: 21px;
}

#menuIcon {
  color: gold;
  cursor: pointer;
}
#menuIcon :active {
  transform: scale(0.9);
}

.sidebar {
  height: 100%;
  display: none;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  border-right: white solid 0.1em;
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.6s;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin-bottom: 15px;
}
.sidebar a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  text-decoration: none;
  color: gold;
  transition: padding 0.3s;
}
.sidebar a i {
  margin-right: 10px;
  color: gold;
}
.sidebar a span {
  margin-left: 10px;
}
.sidebar a:hover {
  background-color: black;
  color: white;
  padding-left: 20px;
}

.sidebar:hover + .content {
  margin-left: 200px;
}

.sidebar:hover {
  width: 9rem;
}

@media (min-width: 768px) {
  .menuSpace {
    display: none;
  }
  .closeSideBar {
    display: none;
  }
  .sidebar {
    width: 2.5rem;
    display: flex;
    flex-direction: column;
  }
}
button {
  background-color: gold;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 4px 4px 10px #858383, -4px -4px 10px #fff;
  margin: 0 auto;
}

button:hover {
  background-color: transparent;
  border: 2px solid gold;
  cursor: pointer;
  color: white;
  transition: all 0.1s ease-out;
  box-shadow: -6px -6px 12px #c5c5c5, 6px 6px 12px #fff;
}

.portfolioButton {
  background-color: gold;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 15px -2px;
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */